* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background: linear-gradient(135deg, #143ee8, #f0d9bb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .container {
    display: flex;
    width: 100%;
    height: 90%;
    background: #42e3de9b;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
  }
  
  .dictionary-section {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-section {
    margin-bottom: 20px; /* Add some space below the image */
  }
  
  .image-section img {
    width: 150px; /* Adjust size if needed */
    height: auto;
  }
  
  .dictionary-section button {
    padding: 8px 60px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #4D59FB;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .dictionary-section button:hover {
    background-color: #ff4757; /* Hover color */
  }
  
  header {
    font-size: 36px;
    font-weight: bold;
    color: #c40b4c;
    margin-bottom: 20px;
  }
  
  .search {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .search input {
    width: 40rem;
    padding: 12px;
    border: 2px solid #4D59FB;
    border-radius: 8px;
  }
  
  .search i,
  .search .close-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .close-icon {
    right: 40px;
    cursor: pointer;
  }
  
  .info-text {
    color: #d31099e0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  .word {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .word p {
    font-weight: bold;
    font-size: 18px;
  }
  
  .content {
    display: none;
  }
  
  .details {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    background: #f9f9f9;
    transition: background 0.3s;
  }
  
  .details:hover {
    background: #e8e8e8;
  }
  
  .list span {
    cursor: pointer;
    color: #4D59FB;
  }
  
  .list span:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .dictionary-section {
      width: 100%;
    }
  
    .search input {
      width: 100%;
    }
  }
  